*/5 8-16 * * 1-5 /Users/cme/bin/screenshot.sh >/tmp/screenshot.log > /dev/null 2>&1
0 8-16/1 * * 1-5 /usr/local/bin/flock -n /tmp/worklog.lockfile /usr/bin/automator -i "/Users/cme/Desktop/worklog.txt" /Users/cme/Projects/dotfiles/bin/workflows/worklog.workflow > /dev/null 2>&1
